@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --header: 56px;
    --side: 20px;
    --point-color: 254, 0, 121;
    /*--point-color: 110, 93, 198;*/
    --point-color-hover: rgb(130, 113, 218) ;
    --point-color-shadow: rgba(254, 0, 121, .3);
}


/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

hr {
    padding: 0;
    margin: 0;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:active {
    color: rgb(var(--point-color));
}

a:visited {
    color: initial;
}

/*-------------------*/

html {
    overflow: hidden;
}

.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.note-page {
    width: 100%;
    height: 100vh;
}

.note-box {
    width: 100%;
    height: calc(100% - var(--header));
    overflow: auto;
    margin-top: var(--header);
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: var(--header);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--side);
    font-size: 14px;
    background-color: rgb(var(--point-color));
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.side-nav {
    --side: 10px;
    width: 240px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: rgb(247, 247, 245);
    border-right: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
    padding: calc(var(--header) + calc(var(--side) * 1.5)) 0 calc(var(--side) * 1.5);
}

.side-nav hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: grey;
    margin: calc(var(--side) * 1.5) 0;
    box-shadow: 0 1px 3px var(--point-color-shadow);
}

.side-nav > div {
    padding: 0 var(--side);
}

.user-dashboard-box {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.user-dashboard-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-color: rgb(var(--point-color));
    border-radius: 4px;
    border: 1px solid white;
}

.user-dashboard-name {
    color: rgb(var(--point-color));
    font-weight: 800;
}

.noteList-nav h3 {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: grey;
}

.noteList-item {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    font-size: 13px;
    padding: 0 var(--side);
    border-radius: 4px;
    color: rgba(128, 128, 128);
}

.noteList-item:hover .noteList-item-menu-box {
    opacity: 1;
}

.noteList-item.selected, .noteList-item:hover {
    background-color: rgba(237, 237, 235);
    color : rgb(0,0,0);
    font-weight: 600;

}
.noteList-item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.6em;
}

.noteList-item-marker {
    color: rgb(var(--point-color));
}

.noteList-item-menu-box {
    margin-left: auto;
    display: flex;
    gap: 4px;
    opacity: 0;
    transition: opacity .4s ease-out;
}

.noteList-item-menu-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.noteList-item-menu-box svg {
    width: 18px;
    height: 18px;
    fill : rgb(48,48,48,.5)
}

.noteList-item-menu-box svg:hover {
    fill: rgb(var(--point-color));
}

.new-note-button {
    margin : auto calc(var(--side) * 2) 0;
    color: white;
    padding : 8px 16px;
    background-color : rgb(var(--point-color));
    border: none;
    border-radius: 24px;
    font-weight: 600;
    font-size: 16px;
    cursor : pointer;
    text-align: center;
}
.new-note-button:visited {
    color : white;
}
.new-note-button:hover {
    background-color: rgba(var(--point-color),.7);
}

/*------*/

.editor {
    outline: none;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    padding: 40px calc(var(--side) * 4);
    padding-top: var(--header);
}

.title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 600;
}

.title:empty::after {
    content: "제목을 입력하세요...";
    color: lightgrey;
}

.block-wrapper {
    margin-bottom: 10px;
    position: relative;
}

.table-block {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 13px 18px 20px 10px;
    overflow-x: auto;
    position: relative;
    left: -10px;
    top: -10px;
    margin-top: 10px;
}

.table-box {
    position: relative;
    background-color: white;
    user-select: none;
}

.table-row {
    position: relative;
}

.cell {
    position: relative;
    padding: 10px 12px;
    min-width: 50px;
    height: 30px;
    font-size: 14px;
    line-height: 140%;
    word-break: break-all;
}

.cell.selected::after {
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 4;
    border: 2px solid rgba(var(--point-color),.7);
    pointer-events: none;
}

[class^="table-selector"] {
    position: absolute;
    opacity: 0;
    border: none;
    background-color: rgba(128, 128, 128);
    border-radius: 4px;
    padding: 0;
    display: flex;
    align-items: center;
    height: 24px;
    z-index: 5;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

[class^="table-selector"]:hover {
    background-color: rgba(168, 168, 168);
}

[class^="table-selector"] svg {
    width: 12px;
    height: 12px;
    fill: white;
}

.table-selector-row {
    top: calc(50% - 12px);
    left: -6px;
}

.table-selector-col {
    top: -12px;
    transform: rotate(90deg);
    left: calc(50% - 6px);
}


.table-menu {
    position: fixed;
    background-color: white;
    border-radius: 2px;
    padding: .3rem 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.table-header {
    background-color: rgb(201, 202, 204) !important;
    font-weight: 600;
}
.table-header td {
    background-color: rgb(201, 202, 204) !important;
}

.column-resizer {
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 50;
    top: 0;
    border: none;
    border-right: thin dashed red;
    cursor: col-resize;
}

.btn_add {
    position: absolute;
    color: white;
    border-radius: 2px;
    padding: .1rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease-out;
    background: none;
    user-select: none;
}

.btn_add:hover {
    background-color: rgb(168, 168, 168, .9);
}

.btn_add_column {
    top: 0;
    width: 18px;
    right: -18px;
    height: 100%;
}

.btn_add_row {
    width: 100%;
    height: 18px;
}

/* 공용 컨텍스트 메뉴 UI */

@keyframes fadein {
    from {
        opacity: 0;
        transform : scale(.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.context-menu-overlay {
    position: fixed;
    z-index: 999;
    inset: 0;
    overflow: hidden;
}

.context-menu {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    padding: .3rem 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    animation: .2s ease normal fadein forwards;
    opacity: 0;
}

.context-menu-item {
    padding: .8em 1em;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
    font-weight: 400;
    min-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    cursor: pointer;
}

/* 컨텍스트 메뉴 아이템 (비활성화 아닐 때) */
.context-menu-item:hover:not(.context-menu-disable) ,.context-menu-item.selected:not(.context-menu-disable){
    background-color: rgba(241, 242, 244);
}

.context-menu-item svg {
    width: 16px;
    height: 16px;
    fill : rgba(var(--point-color),.8);
}

.context-menu-dropDown .context-menu {
    display: none;
}

.context-menu-dropDown:hover .context-menu {
    opacity: 1;
    display: initial;
}

.block-menu-btn-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity .3s ease-out;
}

.block-wrapper:hover .block-menu-btn-box {
    opacity: 1;
}

.block-menu-btn-box:hover {
    opacity: 1;
}

.block-menu-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.block-menu-btn:hover {
    background: rgba(239, 239, 239,.7);
    border-radius: 3px;
}

.block-menu-btn svg {
    fill: rgb(144, 144, 144);
    height: 100%;
}

.block-menu-btn:hover svg {
    fill: rgb(48, 48, 48);

}

/*[data-leaf="true"]:empty::after {*/
/*    user-select: none;*/
/*    content: "\00AD";*/
/*}*/

/* tool-box */

.tool-box {
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0, 0, 0, .2);
    background-color: white;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    display: flex;
    gap: 2px;
    align-items: center;
    z-index: 888;
}

.tool-box-item {
    min-width: 24px;
    height: 24px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    line-height: 24px;
    padding: 0 4px;
    font-weight: 600;
    border: none;
    background: none;
}

.tool-box-item svg {
    width: 14px;
    fill: rgb(131, 141, 147);
}

.tool-box-item:hover svg {
    fill: rgb(100, 100, 100)
}

.tool-box-item:hover {
    background-color: rgb(244, 244, 244);
}

.tool-box-colorPicker {
    background-color: rgb(255, 255, 255);
    padding: .5em;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    width: 212px;
    flex-wrap: wrap;
    gap: 4px;
}

.tool-box-colorPicker-color {
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(0, 0, 0, .5);
}

.tool-box-colorPicker-color:hover {
    box-shadow: 0 0 3px rgb(0, 0, 0, .9);
}

/*[data-leaf="true"]:empty::after {*/
/*    content :"/00A0"*/
/*}*/


.command-window-overlay {
    position: fixed;
    z-index: 999;
    inset: 0;
    overflow: hidden;
}

.command-window {
    position: fixed;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: white;
    transform: translateY(5%);
    z-index: 889;
}

.command-window label {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    color: #818080;
}

.command-window input {
    outline: none;
    line-height: 180%;
}

.note-save-button {
    position: fixed;
    bottom: 3%;
    right: 3%;
    border: none;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: rgb(var(--point-color));
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-weight: 600;

}

.note-save-button:hover {
    background-color: rgba(var(--point-color),.7);
}

.ul::before {
    content: "• "
}

.list::before {
    padding : 5px;
    content: attr(data-li-value);
}